// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.mp-freset{
  padding: 0px !important;
  margin: 0px !important;
}

.first_block{
  // background: $first-picture;
  background-image: url("../assets/img/first.png");
  background-size: cover;
  height: 306px;
}

.second-block{
  background-image: url("../assets/img/second_.png");
  background-size: cover;
  height: 430px;
}


.third_block{
  background-image: url("../assets/img/third.png");
  background-size: cover;
  height:160px;
}

.fourth_block{
  background-image: url("../assets/img/fourth.png");
  background-size: cover;
  height:435px;
}

.fifth-block{
  background-image: url("../assets/img/fifth_.png");
  background-size: cover;
  height: 430px;
}

.six_block{
  background-image: url("../assets/img/six.png");
  background-size: cover;
  height:400px;
}

.pre-last{
  background: $pre-last-block;
  height:300px;

}

.last-block{
  background: $last-block;
  height:200px;
}




  .header-h1{
    color: $gold-yellow;
    font-size: 40px;
    font-weight: 600;
}

.header-p{
    color:$last-block;
    font-size: 14.21px;
  }

  .second-p{

    color: $dark-gold-yellow;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
  }

  .white-p{
    color: $last-block;
    text-transform: uppercase;
    font-weight: 700;
    // font-size: 15px;
  }

  .alignc{
    text-align: center;
  }

  .pw{
    color: $last-block;
  }

.link1{
  color:white;
  font-size: 18px;
  text-decoration: underline;

}
